<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gameshare.repository.RatingMapper">

    <resultMap id="RatingResultMap" type="com.example.gameshare.model.Rating">
        <id property="id" column="id"/>
        <result property="分数" column="分数"/>
        <result property="用户id" column="用户id"/>
        <result property="游戏id" column="游戏id"/>
        <result property="创建时间" column="创建时间"/>
        <result property="更新时间" column="更新时间"/>
    </resultMap>

    <select id="findByGameId" resultMap="RatingResultMap">
        SELECT id, 分数, 用户id, 游戏id, 创建时间, 更新时间
        FROM 评分
        WHERE 游戏id = #{gameId}
    </select>

    <select id="findByUserIdAndGameId" resultMap="RatingResultMap">
        SELECT id, 分数, 用户id, 游戏id, 创建时间, 更新时间
        FROM 评分
        WHERE 用户id = #{userId} AND 游戏id = #{gameId}
    </select>

    <insert id="insert" parameterType="com.example.gameshare.model.Rating" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO 评分 (分数, 用户id, 游戏id, 创建时间, 更新时间)
        VALUES (#{分数}, #{用户id}, #{游戏id}, #{创建时间, jdbcType=TIMESTAMP}, #{更新时间, jdbcType=TIMESTAMP})
    </insert>

    <update id="update" parameterType="com.example.gameshare.model.Rating">
        UPDATE 评分
        <set>
            <if test="分数 != null">分数 = #{分数},</if>
            <if test="更新时间 != null">更新时间 = #{更新时间, jdbcType=TIMESTAMP},</if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>
